<section class="about" id="about">
    <h1 class="heading"><span> About </span> Us </h1>
    <div class="row">
        <div class="gif">
            <img src="https://img.freepik.com/premium-photo/skillful-florist-putting-ready-made-bouquets-shelf_447912-7631.jpg" alt="picture">
            <h3>Best Flower Sellers</h3>
        </div>
        <div class ="content">
            <h3>Why choose us?</h3>
            <p>Welcome to Flower Elegance, your premier destination for stunning floral creations delivered right to your doorstep. 
            <p>As an online flower boutique, we strive to bring the timeless beauty and elegance of flowers into your life with convenience and sophistication.</p>
            <p>At Flower Elegance, we believe that every moment is an opportunity to celebrate, to connect, and to express emotions. 
            Our journey began with a passion for flowers and a vision to redefine the online floral experience. 
            With a meticulous eye for detail and a deep understanding of floral artistry, we curate an exquisite selection of blooms sourced from the finest growers around the world.
            Our team of skilled florists combines creativity with expertise to design arrangements that captivate the senses and touch the heart. Whether you're marking a special occasion, expressing love and appreciation, or simply brightening someone's day, our carefully crafted bouquets and arrangements are sure to leave a lasting impression.</p>
        
        </div>

    </div>

</section>