<!-- account.html -->
<div id="account-container" class="account-page">
  <h2>My Account</h2>

  <div id="user-info">
    <p><strong>First Name:</strong> <span id="first-name"></span></p>
    <p><strong>Last Name:</strong> <span id="last-name"></span></p>
    <p><strong>Email:</strong> <span id="email"></span></p>
    <p><strong>User Type:</strong> <span id="user-type"></span></p>
  </div>

  <h3>Edit Info</h3>
  <form id="update-form">
    <input type="text" id="new-first-name" name="new-first-name" placeholder="New First Name" required minlength="2">
    <input type="text" id="new-last-name" name="new-last-name" placeholder="New Last Name" required minlength="2">
    <button type="submit">Update Info</button>
  </form>

  <button id="delete-account" style="color: white;">Delete My Account</button>
  <button id="logout">Logout</button>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- jQuery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

<!-- jQuery BlockUI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<!-- Toastr -->
<link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>

<script src="assets/js/jquey.validate.min.js"></script>
<script src="assets/services/user-service.js"></script>
<script src="assets/utils/constants.js"></script>
<script src="assets/services/account-service.js"></script>
<script>
    $(document).ready(function () {
        AccountService.init();
    });
</script>


