<main>
    <!-- Admin Dashboard Section -->
    <section class="dashboard">
      <!--  <h1 class="title">Admin Dashboard</h1>-->

        

        <!-- Dashboard Info Section -->
        <div class="dashboard-info">
            <div class="box-container">
                <div class="box">
                    <h3 id="pending-orders">0</h3>
                    <p>Pending orders</p>
                </div>
                <div class="box">
                    <h3 id="completed-payments">$0/-</h3>
                    <p>Completed payments</p>
                </div>
                <div class="box">
                    <h3 id="total-orders">0</h3>
                    <p>Orders placed</p>
                </div>
                <div class="box">
                    <h3 id="total-products">0</h3>
                    <p>Products added</p>
                </div>
                <div class="box">
                    <h3 id="normal-users">0</h3>
                    <p>Normal users</p>
                </div>
                <div class="box">
                    <h3 id="admin-users">0</h3>
                    <p>Admin users</p>
                </div>
                <div class="box">
                    <h3 id="total-accounts">0</h3>
                    <p>Total accounts</p>
                </div>
            </div>
        </div>
    </section>
</main>


