<div class="container1">
    <div class="login-box">
        <h2>Flower<span>Elegance</span></h2>
        <form id="login-form" method="post">
            <input type="text" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Log In</button>
        </form>
        <hr>
        <p>Don't have an account? <a href="#registrationpage1">Sign Up</a></p>
    </div>
</div>
 <link
      href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css"
      rel="stylesheet"/>
<script src="/Introduction-to-Web-Programming-Project-2025/assets/js/jquey.validate.min.js"></script>
<script src="/Introduction-to-Web-Programming-Project-2025/assets/services/user-service.js"></script>
<script src="/Introduction-to-Web-Programming-Project-2025/assets/utils/constants.js"></script>
<script>
    $(document).ready(function () {
        UserService.init();
    });
</script>

