


    <div class="containerpd" id="2">
        <img class="product-img" src="https://fyf.tac-cdn.net/images/products/large/FYF-122.jpg?auto=webp&quality=80&width=690" alt="Product Image">
        <h1 class="product-title">Blue Skies & Sunshine</h1>
        <p class="product-price">33$</p>
        <form action="/add-to-cart" method="post">
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
            </div>
            <button type="submit" class="btnpd">Add to Cart</button>
        </form>
        <p class="product-description">A best selling bouquet for your friends and family. This arrangement is made of bright yellow roses, white lilies, blue delphinium and purple monte casino, all in a clear vase guaranteed to stand out. No matter the occasion, they will light up when receiving this beautiful bouquet.
        </p>
    </div>
