


    <div class="containerpd" id="3">
        <img class="product-img" src="https://fyf.tac-cdn.net/images/products/large/TEV55-6.jpg?auto=webp&quality=80&width=690" alt="Product Image">
        <h1 class="product-title">Southern Peach Bouquet</h1>
        <p class="product-price">46$</p>
        <form action="/add-to-cart" method="post">
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
            </div>
            <button type="submit" class="btnpd">Add to Cart</button>
        </form>
        <p class="product-description">Looking for a modern twist on an old classic - this bouquet is just what you need! 
            The Southern Peach Rose Bouquet brings you a subtle and sophisticated look with a bit of modern style. 
            Charming and easy on the eyes, with beautiful pastel tones, this bouquet brings a room to life with it's artful appearance. 
            Peach roses surrounded by white lilies, peach carnations and greenery - but the best part? 
            All of this surrounds a green echeveria succulent. The fun new accessory to any bouquet, 
            this delicate succulent adds a modern touch and is guaranteed to delight! This bouquet measures 15 1/4" W by 13 1/4" H
        </p>
    </div>
    
