<!--<!DOCTYPE html> 
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flower Shop</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="icon" type="image/x-icon" href="images/favicon (1).ico">


        
    </head>

   <body>
        <header>
            <input type = "checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            
            <a href = "home.html" class = "logo">Flower<span>Elegance</span></a>
            
            <nav class = "navbar">
                <a href = "home.html">home</a>
                <a href = "home.html#about">about</a>
             
             <div class="dropdown">
                <button class="dropbtn">Products </button>
                <div class="dropdown-content">
                    <a href="birthdayflowers.html">Birthday Flowers</a>
                    <a href="valentineflowers.html">Valentine Flowers</a>
                    <a href="getwellflowers.html">Get Well Flowers</a>
                    <a href="weddingflowers.html">Wedding Flowers</a>
                    
                </div>
            </div>
                <a href = "home.html#review">review</a>
                <a href = "home.html#contact">Contact</a>
                
            </nav>
            
            <div class = "icons">
                
                <a href = "shoppingcart.html" class = "fas fa-shopping-cart"></a>
                <a href = "loginpage1.html" class = "fas fa-user"></a>
                
            </div>
        </header> -->
    
       <!-- Add search option here -->
   <!-- <div class="search-container">
        <form id="searchForm">
            <input type="text" id="searchInput" name="q" placeholder="Search products...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>-->  

        <section class = "products" id="products">
            <h1 class="heading">Latest <span> Products </span></h1>

            <div class="box-container" id="productContainer"> 

                <div class="box" id="product1">
                    <a href="#productDetailPage1">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-116.jpg?auto=webp&quality=80&width=295" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            <button class="wishlist-btn" data-product-id="1"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Rose & Lily Celebration</h3>
                        <div class="price"> 45$</div>
                    </div>
                </div>

                <div class="box" id="product2">
                    <a href="#productDetailPage2">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-122.jpg?auto=webp&quality=80&width=295" alt="">
                        <div class="icons">  
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            <button class="wishlist-btn" data-product-id="2"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Blue Skies & Sunshine</h3>
                        <div class="price"> 33$ </div>
                    </div>
                </div>

                <div class="box" id="product3">
                    <a href="#productDetailPage3">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/TEV55-6.jpg?auto=webp&quality=80&width=295" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            <button class="wishlist-btn" data-product-id="3"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Southern Peach Bouquet</h3>
                        <div class="price"> 46$ </div>
                    </div>
                </div>

                <div class="box" id="product4">
                    <a href="#productDetailPage4">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/T46-1.jpg?auto=webp&quality=80&width=295" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            <button class="wishlist-btn" data-product-id="4"><i class="fa-regular fa-heart"></i></button>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>How Sweet It Is</h3>
                        <div class="price"> 46$ </div>
                    </div>
                </div>

                <div class="box" id="product5">
                    <a href="#productDetailPage5">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-131.jpg?auto=webp&quality=80&width=295" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            <button class="wishlist-btn" data-product-id="5"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Fields of Gold Mason Jar</h3>
                        <div class="price"> 40$ </div>
                    </div>
                </div>

                <div class="box" id="product6">
                    <a href="#productDetailPage6">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/F-383.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                           <button class="wishlist-btn" data-product-id="6"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Be Happy® Bouquet</h3>
                        <div class="price"> 40$ </div>
                    </div>
                </div>






            <!--MORE PRODUCTS CAN BE ADDED HERE IF NEEDED-->

               <!-- <div class="box" id="product8">
                    <a href="product8detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/TBC03-1-2.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Be Bold on Your Birthday</h3>
                        <div class="price"> 30$ </div>
                    </div>
                </div>
            -->
            <!--    <div class="box" id="product7">
                    <a href="product7detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/F-739.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Luxury Dozen Preserved Red Roses</h3>
                        <div class="price"> 40$ </div>
                    </div>
                </div>

                <div class="box" id="product8">
                    <a href="product8detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/TBC03-1-2.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Be Bold on Your Birthday</h3>
                        <div class="price"> 30$ </div>
                    </div>
                </div>

                <div class="box" id="product9">
                    <a href="product9detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/TEV25-3.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Clear Blue Skies Bouquet
                        </h3>
                        <div class="price"> 46$ </div>
                    </div>
                </div>

                <div class="box" id="product10">
                    <a href="product10detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/T21S100.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Wine Country Blossoms</h3>
                        <div class="price"> 43$ </div>
                    </div>
                </div>

                <div class="box" id="product11">
                    <a href="product11detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-118.jpg?auto=webp&quality=80&width=414" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>You Are My Heart</h3>
                        <div class="price"> 32$ </div>
                    </div>
                </div>

                <div class="box" id="product12">
                    <a href="product12detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-MIXTUL.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Tulip Rainbow</h3>
                        <div class="price"> 50$ </div>
                    </div>
                </div>

                <div class="box" id="product13">
                    <a href="product13detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/T68-3.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Purple Morning Melody</h3>
                        <div class="price"> 45$ </div>
                    </div>
                </div>

                <div class="box" id="product14">
                    <a href="product14detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-120.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Pink and Pretty</h3>
                        <div class="price"> 36$ </div>
                    </div>
                </div>

                <div class="box" id="product15">
                    <a href="product15detailpage.html">
                    <div class="image">
                        <img src="https://fyf.tac-cdn.net/images/products/small/FYF-140.jpg?auto=webp&quality=80&width=354" alt="">
                        <div class="icons">
                            
                            <a href="shoppingcart.html" class="cart-btn">add to cart</a>
                            
                        </div>
                    </div></a>
                    <div class="content">
                        <h3>Charming Garden of Love</h3>
                        <div class="price"> 36$ </div>
                    </div>-->
                </div>
        </section>
        
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    






   





















