


    <div class="containerpd" id="4">
        <img class="product-img" src="https://fyf.tac-cdn.net/images/products/large/T46-1.jpg?auto=webp&quality=80&width=690" alt="Product Image">
        <h1 class="product-title">How Sweet It Is</h1>
        <p class="product-price">46$</p>
        <form action="/add-to-cart" method="post">
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
            </div>
            <button type="submit" class="btnpd">Add to Cart</button>
        </form>
        <p class="product-description">An easy way to remind someone you care and are thinking about them - the How Sweet It Is bouquet. 
            Brighten someone's day with this beautiful arrangement of orange spray roses, orange roses, hot pink carnations and asters. 
            This bouquet is ideal for a birthday, as a thank you, or just to let someone know you're thinking about them!
        </p>
    </div>
    
