
<body>
    <div class="container_reg">
        <div class="registration-box">
            
            <h2>Sign Up for Flower<span>Elegance</span></h2>
            <form id="registration-form"  method="post">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="New Password" required>
                <button type="submit">Sign Up</button>
            </form>
            <p>By clicking Sign Up, you agree to our <a href="termsofuse.html">Terms of Use</a> and that you have read our <a href="privacypolicy.html">Privacy Policy</a>.</p>
            <hr>
            <p>Already have an account? <a href="loginpage1.html">Log In</a></p>
        </div>
    </div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/js/registration_validation.js"></script>

