<div id="wishlist-container" class="wishlist-grid"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
<script src="assets/js/jquey.validate.min.js"></script>
<script src="assets/services/product-service.js"></script>
<script src="assets/utils/constants.js"></script>
<script src="assets/services/account-service.js"></script>
<script src="assets/services/cart-service.js"></script> 
<script src="assets/services/wishlist-service.js"></script>
<script>
   $(document).ready(function () {
    WishlistService.init();
});
</script>